<app-header></app-header>
<app-menu></app-menu>
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-1 col-sm-1 col-md-1 col-xs-12">
                <a [routerLink]="['/specialites']">
                    <b>
                        <i class="fas fa-chevron-left" style="font-weight: bold; font-size: 25px; color: #684f0e;" aria-hidden="true"></i>
                    </b>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">DETAIL SPECIALITE</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="col-lg-2 col-xlg-2 col-md-12"></div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-8 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">NOM SERVICE</label>
                                <div class="col-md-12 border-bottom p-0">{{specialite.service.nomser}}</div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="example-email" class="col-md-12 p-0">NOM SPECIALITE</label>
                                <div class="col-md-12 border-bottom p-0">{{specialite.nomspe}}</div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="example-email" class="col-md-12 p-0">DESCRIPTION</label>
                                <div class="col-md-12 border-bottom p-0">{{specialite.description}}</div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="user-btm-box mt-5 d-md-flex">
                                    <div class="col-md-2 col-sm-2">
                                        <button class="btn btn-orange" style="background-color: #684f0e; color: white;" [routerLink]="['/modifierspecialite', specialite.id]">
                                            <i class="fa fa-edit" aria-hidden="true"></i> Modifier</button>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <button class="btn btn-orange" style="background-color: #e75500; color: white;">
                                            <i class="fa fa-trash" aria-hidden="true" onclick ="return(confirm('Etes-vous certain de vouloir supprimer ce service ?'));"></i> Supprimer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-2 col-xlg-2 col-md-12"></div>
        </div>
    </div>

</div>
