<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <a class="icon-person"> <b style="font-size: 15px; color: black;">Seydina </b><ion-icon name="person"></ion-icon></a>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="bare-grise">
    <p style="color: white; margin: 10px 0px 0px 50px;">Services Ménagers</p>
  </ion-row>

  <ion-list>
    <ion-item *ngFor="let tr of travailleurs" (click)="detailTravailleur()">
      <ion-avatar slot="start">
        <ion-img src="{{image}} + {{tr.id}}"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{tr?.nom}} {{tr?.prenom}}</h2>
        <h3>{{tr?.specialite.nomspe}}</h3>
        <p>{{tr.ville?.nomville}}, {{tr.quartier}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button  [routerLink]="['/accueilclient']">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
