<ion-content>
  <a (click)="close()"><ion-icon name="close" class="close"></ion-icon></a>
  <ion-list show-reorder = "true" no-margin>
    <a (click)="specialite()">
      <ion-item>
        OKKK
        <b class="chiffre"> 213</b>
     </ion-item>
    </a>
    
    <ion-item>
      OKKKi
      <b class="chiffre"> 213</b>
   </ion-item>
   <ion-item>
    OKKKi
    <b class="chiffre"> 213</b>
 </ion-item>
 <ion-item>
  OKKKi
  <b class="chiffre"> 213</b>
</ion-item>
<ion-item>
  OKKKi
  <b class="chiffre"> 213</b>
</ion-item>
<ion-item>
  OKKKi
  <b class="chiffre"> 213</b>
</ion-item>
<ion-item>
  OKKKi
  <b class="chiffre"> 213</b>
</ion-item>
<ion-item>
  OKKKi
  <b class="chiffre"> 213</b>
</ion-item>
<ion-item>
  OKKKi
  <b class="chiffre"> 213</b>
</ion-item>
<ion-item>
  OKKKi
  <b class="chiffre"> 213</b>
</ion-item>
<ion-item>
  OKKKi
  <b class="chiffre"> 213</b>
</ion-item>
 </ion-list>
</ion-content>
