<app-header></app-header>
<app-menu></app-menu>
<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Statistiques TCHA-SO</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType" >
                    </canvas>
            </div>
            <div class="col-lg-4 col-sm-4">
                <canvas baseChart
                    [datasets]="barChartData2"
                    [labels]="barChartLabels2"
                    [options]="barChartOptions2"
                    [plugins]="barChartPlugins2"
                    [legend]="barChartLegend2"
                    [chartType]="barChartType2" >
                </canvas>
        </div>
            
        </div>
    </div>
</div>
