<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <a class="icon-person"> <b style="font-size: 15px; color: black;">Seydina </b><ion-icon name="person"></ion-icon></a>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <h2>Ousmane Kané</h2>
  </div>
  <div class="space-between">
    <!-- <div class="followings">
      <ion-badge color="primary" mode="ios">42</ion-badge>
      <p>Abonnés</p>
    </div>
    <div class="followings">
      <ion-badge color="primary" mode="ios">42</ion-badge>
      <p>Abonnements</p>
    </div> -->
  </div>
  <div class="flex">
    <div class="border-white">
      <div class="img-box">
        <img src="../../assets/elon-musk.jpg">
      </div>
    </div>
  </div>
  <ion-row>
    <ion-col size="10">
      <ion-card>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/elon-musk.jpg" />
          </ion-avatar>
          <ion-label>
            <h2 style="font-size: 12px;"><b>Ousmane Kané</b></h2>
            <p>Electicien</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="tweet">
          <ion-label text-wrap>Bamako, Hippodrome Rue 2222, Porte 2027</ion-label>
        </ion-item>
      </ion-card>

      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
        <img src="./madison.jpg" />
        <ion-card-header>
          <ion-card-title style="font-size: 20px;">Compétence 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="11">
      
        <img src="./madison.jpg" />
        <ion-card-header>
          <ion-card-title style="font-size: 20px;">Compétence 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content>
      
    </ion-col>
  </ion-row>
 
  <ion-fab vertical="center" horizontal="end" slot="fixed" class="watts">
    
      <ion-fab-button>
        <a href="https://wa.me/78784434?text=Bonjour,%je%20suis%20intéressé%20par%20votre%20service">
          <img src="../../../assets/icon/wattsapp.png" style="width: 40px; height: 40px;"/>
        </a>
      </ion-fab-button>
    
   
  </ion-fab>
  <ion-fab vertical="center" horizontal="end" slot="fixed" class="pencil">
    <ion-fab-button  [routerLink]="['/accueilclient']">
      <img src="../../../assets/icon/pencil.png" style="width: 35px; height: 35px;"/>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="center" horizontal="end" slot="fixed" class="home">
    <ion-fab-button  [routerLink]="['/accueilclient']">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  
</ion-content>
